name: Type Check Distribution

on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  typecheck-dist:
    name: Check dist types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js from nvmrc
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          registry-url: "https://registry.npmjs.org"

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install

      - name: Build package and dependencies
        run: pnpm build

      - name: Check types
        run: pnpx @arethetypeswrong/cli --pack . --profile esm-only
